.header{
    max-width: 1440px;
    margin: auto;
    /* margin-left: 30px; */
}

.hero{
    /* border: solid red; */
    background:url('./image/Hero-bg.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

h1{
    font-size: 24px;

}
p{
    font-size: 16px;
    text-decoration: none;
}


.hero_pra{
    width: 900px;
    font-size: 19px;
    display: flex;
    text-align: center;
}
.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 16px; 
}


.body{
    /* border:solid red; */
    max-width: 1140px;
    margin: auto;
    padding: 80px 97px 80px 97px;
}

.web_title{
    /* border: solid green; */
    max-width: 852px;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
}
.web_title,h1{
    font-size: 32px;
}
.web_title,p{
    font-size: 16px;
}

.layer1{
    max-width: 850px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.layer1_content{
    max-width: 477px;
}

.ins_des{
    max-width: 850px;
    margin: auto;
    text-align: center;
}

.target_card{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 24px;
}

.card{
    width: 364px;
    padding: 40px;
    border-radius: 14px;
    

}

.next_target{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.next_card{
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 30px;
}
/* .target_card, h1{
    font-size: 24px;
} */

.support{
    background:url('./image/handshake.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 64px;
    color: white;
    border-radius: 16px;
    /* background-size: 1140px full; */
}

.icon{
    width: 36px;
    height: 36px;
}